* {
    box-sizing: border-box;
}

.generator {
    margin: 20px 40px;
}

.setter {
    margin-bottom: 15px;
    color: blue;
    cursor: pointer;
}
.setter span {
    padding-bottom: 1px;
    border-bottom: 1px dashed;
}

.labeled-input {
    margin-bottom: 15px;
}

.labeled-input label {
    display: inline-block;
    width: 100px;
    text-align: right;
    padding-right: 0.3em;
}

.setter,
.warning,
.value-row {
    margin-left: 100px;
}

.warning {
    color: red;
}
.value-row {
    font-family: monospace;
}
